.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-group-1 {
  width: 390px;
  background-image: none;
  min-height: 484px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 57px 305px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-video-1 {
  width: 310px;
  height: 181px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 58px 58px 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px 46px 0 17px;
}

.u-section-1 .u-group-2 {
  width: 390px;
  background-image: none;
  min-height: 462px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -484px auto 60px 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-video-2 {
  width: 310px;
  height: 181px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 58px 64px 0 20px;
}

.u-section-1 .u-text-4 {
  margin-left: 20px;
  margin-right: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-1 .u-group-1 {
    min-height: 472px;
    margin-top: 55px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-1 .u-group-2 {
    min-height: 484px;
    margin-top: -472px;
    margin-right: 63px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-1 .u-group-1 {
    min-height: 484px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 45px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 28px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
    margin-left: 16px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 34px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 19px;
  }
}